:root{
    --purple-200: #A269FF;
    --purple-300: #8733ff;

    --grey-300: #4F4F4F;
    

    --white-300: #FFFFFF;
}


.body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.col-8 {
    display: flex;
    flex: 0 0 auto;
    width: 66.66666667%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.menuPrincipal{
    background: black;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
    padding-top: none;
    padding-block: none;
    float: center;
}

.botaoMenuPrincipal{
    color: var(--white-300);
    text-decoration: none;
         
}

.botaoMenuPrincipal {
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    padding: 7px;
    -webkit-box-shadow: 4px 11px 20px 0 #FFFFFF;
    -moz-box-shadow: 4px 11px 20px 0 #FFFFFF;
    box-shadow: 4px 11px 20px 0 #FFFFFF;
    text-shadow: -1px 0 20px #FFFFFF;
    border: solid #000000 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 .botaoMenuPrincipal:hover  {
    border: solid #000000 2px;
    background: #F9F9F9;
    background-image: -webkit-linear-gradient(top, #F9F9F9, #000000);
    background-image: -moz-linear-gradient(top, #F9F9F9, #000000);
    background-image: -ms-linear-gradient(top, #F9F9F9, #000000);
    background-image: -o-linear-gradient(top, #F9F9F9, #000000);
    background-image: -webkit-gradient(to bottom, #F9F9F9, #000000);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;
 }
@media (max-width: 767px){
    .menuPrincipal{
        flex-direction: column;
    }
}
